body {
    background-image: radial-gradient(circle, #abb3c0, #adbfc6, #b4c9c8, #c3d2c9, #d6dacc);
    font-family: Calibri;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: #337AB7;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
}
.menu a::before,
.menu a::after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
    left: -4px;
    top: 0;
    width: calc(100% + 8px);
    height: 100%;
    border-style: solid;
    border-color: #337AB7;
    box-sizing: border-box;
}
.menu a::before {
    border-width: 1px 0 1px 0;
    transform: scaleX(0);
}
.menu a::after {
    border-width: 0 1px 0 1px;
    transform: scaleY(0);
}
.menu a:hover::before,
.menu a:hover::after {
    transform: scale(1, 1);
}

h1, h2 {
    text-align: center;
}

.container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 10px 0px 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.base_form {
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.flex-container, .flex-mult-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}

.flex-container {
    width: 300px;
}

.flex-mult-container {
    flex-direction: column;
    height: 550px;
}

.prime-table {
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: beige;
    flex: 1 1 auto;
}

.prime-table p, 
.mult-table-container p {
    margin: auto 0;
    text-align: center;
}

.mult-table-container {
    width: 90px;
    height: 20px;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: beige;
    flex: 1 1 auto;
}
