body {
    background-image: radial-gradient(circle, #abb3c0, #adbfc6, #b4c9c8, #c3d2c9, #d6dacc);
    font-family: Calibri;
    margin: 10px;
}

.errorlist {
    color: red;
}

.container {
    display: flex;
    align-items: stretch;
    /* width: 400px; */
    /* border: 3px solid black;
    border-radius: 10px; */
    /* padding: 10px; */
    /* margin-top: 20px; */
}

.review-info {
    padding: 10px;
    margin: 10px 10px 0px 0px;
    border: 2px solid black;
    border-radius: 5px;
}