{% extends "base.html" %}
{% block body %}
<h2>Найденные люди:</h2>

{% if object_list %}

{% for item in object_list %}
<p>Имя: {{item.first_name}}</p>
<p>Фамилия: {{item.last_name}}</p>
<p>Отчество: {{item.patronymic}}</p>
<p>Город: {{item.city}}</p>
<hr>
{% endfor %}

{% else %}
<p>Увы, но никого не удалось найти</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?first_name={{first_name}}&last_name={{last_name}}&patronymic={{patronymic}}&city={{city}}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?first_name={{first_name}}&last_name={{last_name}}&patronymic={{patronymic}}&city={{city}}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}