{% extends "base.html" %}

{% block content %}
{% csrf_token %}

<h1>Карточки ресторанов:</h1>

<div class="container">
    {% for item in object_list %}
    <div class="restraunt-card">
        <div class="title-info">
            <h2>{{item.title}}</h2>
        </div>
        <div class="speci-info">
            <h3>{{item.specialization.title}}</h3>
        </div>
        <div class="address-info">
            <p class="label">Адрес: </p>
            <p>{{item.address}}</p>
        </div>
        <div class="site-info">
            <p class="label">Веб-сайт: </p>
            <p>{{item.site}}</p>
        </div>
        <div class="phone-info">
            <p class="label">Контактный телефон: </p>
            <p>{{item.contacts}}</p>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}